@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
*::selection{
  color: #556b2f;
  background-color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
/* laod page Animatoin */
.page-bg {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: #fff center;
  filter: blur(0px);
  z-index: 99999999;
}
.preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
  z-index: 10;
}
.preloader > .preloader-box {
  position: absolute;
  width: 345px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -150px;
  perspective: 200px;
}
.preloader .preloader-box > span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #ccc;
  float: left;
  text-align: center;
  line-height: 30px;
  font-family: Verdana;
  font-size: 20px;
  color: #fff;
}
.preloader .preloader-box > span:nth-child(1) {
  background: #3366ff;
  margin-right: 15px;
  animation: movement 600ms ease 0ms infinite alternate;
}
.preloader .preloader-box > span:nth-child(2) {
  background: #3366ff;
  margin-right: 15px;
  animation: movement 600ms ease 75ms infinite alternate;
}
.preloader .preloader-box > span:nth-child(3) {
  background: #3366ff;
  margin-right: 15px;
  animation: movement 600ms ease 150ms infinite alternate;
}
.preloader .preloader-box > span:nth-child(4) {
  background: #3366ff;
  margin-right: 15px;
  animation: movement 600ms ease 225ms infinite alternate;
}
.preloader .preloader-box > span:nth-child(5) {
  background: #3366ff;
  margin-right: 15px;
  animation: movement 600ms ease 300ms infinite alternate;
}
.preloader .preloader-box > span:nth-child(6) {
  background: #3366ff;
  margin-right: 15px;
  animation: movement 600ms ease 375ms infinite alternate;
}
.preloader .preloader-box > span:nth-child(7) {
  background: #3366ff;
  margin-right: 15px;
  animation: movement 600ms ease 450ms infinite alternate;
}
.preloader .preloader-box > span:nth-child(8) {
  background: #3366ff;
  animation: movement 600ms ease 525ms infinite alternate;
}
/* Start header */
header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #43ff43;
  position: fixed;
  z-index: 9999999;
  h1 > a {
    color: #556b2f;
  }
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > nav > li {
  padding: 10px;
  a {
    color: #556b2f;
    font-size: 20px;
  }
}
/* End header */

/* Start mainSec */
.mainSec {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006400;
  border-bottom: 2px dashed #09ee09;
  div {
    & h1 {
      color: #a3df3c;
    }
    & h4 {
      position: relative;
      right: -15%;
      color: #ffffff;
    }
  }
}
/* End mainSec */

/* Start About sec */
#about {
  width: 100%;
  height: 40vh;
  background-color: #006400;
  .title {
    color: #a3df3c;
    margin-bottom: 150px;
  }
  h5 {
    color: #fff;
    letter-spacing: 9px;
  }
}
/* End About sec */

/* Animations */
@keyframes movement {
  from {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    transform: scale(1.5) translateY(-25px) rotateX(45deg);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.4);
    background: #3399ff;
  }
}
